.welcome {
  @apply flex-center md:flex-row flex-col gap-2 relative max-w-[1440px] mx-auto;

  &__left {
    @apply flex-1 padding-x;
  }

  &__title {
    color: $orange;
    @apply text-[20px] font-bold mt-5;
  }

  &__desc {
    color: $darkblue;
    @apply 2xl:text-[72px] sm:text-[50px] text-[50px] font-extrabold;
  }

  &__subtitle {
    color: $gray;
    @apply text-[14px] font-light;
  }

  &__img-container {
    @apply md:flex-[1] flex justify-center w-full;
  }

  &__img {
    @apply relative md:w-full w-[90%] md:h-full z-0;
  }

  &__image-overlay {
    @apply absolute xl:-top-24 xl:-right-1/2 -right-1/4 bg-welcome-bg bg-repeat-round -z-10 w-full xl:h-screen h-[590px] overflow-hidden;
  }
}
