* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

ul li {
    list-style: none;
}

ul li a{    
    text-decoration: none;
}

/* START: General styles */
.max-width {
    @apply max-w-[1440px] mx-auto;
  }
  
  .padding-x {
    @apply sm:px-16 px-6;
  }
  
  .padding-y {
    @apply py-4;
  }
  
  .flex-center {
    @apply flex items-center justify-center;
  }
  
  .flex-between {
    @apply flex justify-between items-center;
  }
